.images {
    width: 800 !important;
    height: 400 !important;
}

.form-group {
    margin: 25px 5px !important;
}

.carousel {
    height: 500px !important;
    overflow: hidden;
}

.div-body {
    height: 90vh;
}